@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: #fff5f5; 
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-header {
  background-color: #ff6347;
  color: white;
}

.card-body {
  background-color: #ffe4e1; 
}

.btn-custom {
  background-color: #ff6347; 
  color: white;
}

.btn-custom:hover {
  background-color: #e5533d;
  color: white;
}

.nav-link.active {
  font-weight: bold;
  background-color: #ffe4e1;
  color: #ff6347; 
}

.text-black {
  color: #000000;
}

